.language {
  position: fixed;
  bottom: 2.6vh;
  left: 2.6vh;
  z-index: 4;

  button {
    @include border-radius(2.1vh);
    cursor: pointer;
    border: 0;
    padding: 0.5vh 1.5vh;
    background: $bg-dark;
    color: $font-light;
    @include box-shadow(0 0 0.8vh 0.2vh rgba(0,0,0,0.5));
  }
}

footer {
  text-align: center;
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 6.3vh;
  z-index: 2;

  li {
    display: inline-block;
    padding: 0 1vh;
  }

  li:not(:first-of-type) {
    border-left: 0.1vh solid $font-light;
  }
}
