button, input[type=submit] {
  cursor: pointer;
}

// Sign in button
.signin button {
  @include border-radius(2vh);
  width: 9vh;
  height: 4vh;
  font-size: 1.875em;
  border: 0;
  vertical-align: middle;
  line-height: 0;
  cursor: pointer;
}

// Call to action
.btn-c2a {
  @include border-radius(4vh);
  border: 0.4vh solid #666;
  @include box-shadow(0 0 0.8vh 0.6vh $bg-light);
  padding: 1vh 11.6vh;
  color: $font-light;
  background-color: $btn-c2a;
  @include linear-gradient($btn-c2a-gradient);
  font-size: 1.625em;
}

.btn-c2a:hover {
  text-shadow: 0 0 1vh $bg-light;
}

.btn-c2a.blocked {
  background: #c6c6c6;
  border: 0.4vh solid #000;
  @include box-shadow(0 0 0 0.3vh $bg-light);
}

.btn-c2a.blocked:hover {
  text-shadow: none;
  cursor: not-allowed;
}

// Default button
.btn {
  @include border-radius(3vh);
  padding: 1vh 1.7vh;
  border: 0.1vh solid $bg-light;
  color: $font-light;
  background: none;
}

.btn.active {
  background: #efefef;
  color: $bg-dark;
}
