// Auth forms
.auth {
  form {
    text-align: center;
    margin-top: 3vh;
  
    input[type=text], input[type=password], input[type=email] {
      padding: 1.5vh 1.5vh 1.5vh 5.3vh;
      background: #7e7e7e;
      @include border-radius(0.5vh);
      border: 0;
      width: calc(80% - 2.6vh);
    }
  
    input:not(:nth-of-type(1)) {
      margin-top: 1.5vh;
    }
  
    label {
      position: absolute;
      margin-top: 1.5vh;
      margin-left: 1.5vh;
    }
  
    label:not(:nth-of-type(1)) {
      margin-top: 3vh;
    }
  }
}
