// Backgrounds colors
$body-bg: #f6be75;
$body-gradient: linear-gradient(
  136deg, 
  rgba(246,191,117,1) 19%, 
  rgba(215,113,133,1) 57%, 
  rgba(135,102,172,1) 79%, 
  rgba(65,80,177,1) 91%
  );
$bg-dark: #1c1c1c;

// Font colors
$font-light: #fff;
