// Backgrounds colors
$body-gradient: 136deg, 
  #f6bf75 19%, 
  #d77185 57%, 
  #8766ac 79%, 
  #4150b1 91%;
$body-bg: #f6be75;
$bg-dark: #1c1c1c;
$bg-light: #fff;
$bg-pink: #d77185;
$bg-purple: #8766ac;
$bg-blue: #4150b1;

$box-shadow: 0 0 8px 3px rgba(0,0,0,0.5);

// Fonts colors
$font-light: #fff;
$font-secondary: #f6bf75;

// Buttons colors
$btn-google-gradient: 60deg, 
  #db4f38 0%, 
  #db6c5b 100%;
$btn-google: #db4f38;

$btn-apple-gradient: 60deg, 
  #c9c9c9 0%, 
  #fff 100%;
$btn-apple: #c9c9c9;

$btn-account-gradient: 60deg, 
  #f49b24 0%, 
  #f6bf75 100%;
$btn-account: #f49b24;

$btn-c2a: #f6c37e;
$btn-c2a-gradient: 90deg, 
  #f6c37e 0%, 
  #d8788b 100%;
