.home {
  .find {
    text-align: center;

    a>div {
      display: inline-block;
      height: 58vh;
      min-width: 52vh;
      padding: 1vh;
      margin-top: 11vh;
      background-color: $bg-dark;
      background-repeat: no-repeat;
      @include background-size(56vh);
      @include border-radius(2.1vh);
      @include box-shadow($box-shadow);
      border: 0.8vh solid #efefef;
    }

    a:not(:nth-of-type(1)) {
      margin-left: 4.2vh;

      i {
        position: relative;
        left: 2.5vh;
      }
    }

    i {
      font-size: 7em;
      margin-top: 5vh;
      color: $bg-dark;
    }

    h2 {
      margin-top: 21vh;
    }

    p {
      margin-top: -3.7vh;
    }
  }
}
