.home, .auth {
    // Sections
  .cards {
    display: flex;
    justify-content: center;
    align-items: center;

    >div {
      background-color: $bg-dark;
      border-radius: 20px;
      height: 630px;
      min-width: 378px;
      margin-top: 90px;
      float: left;
      box-shadow: 0 0 8px 3px rgba(0,0,0,0.5);
      background-size: 430px;
      background-repeat: no-repeat;
      padding: 25px;
      position: relative;
    }

    >div:nth-child(1) {
      transform: rotate(353deg);
    }

    >div:nth-child(2) {
      z-index: 1;
      top: -22px;
    }

    >div:nth-child(3) {
      transform: rotate(7deg);
    }

    >div:nth-child(1), >div:nth-child(3) {
      backface-visibility: hidden; // antialiasing
    }

    >div:nth-child(2), >div:nth-child(3) {
      margin-left: -80px;
    }
  }

  // First section
  .signin {
    padding: 10px;

    span {
      margin-left: 10px;
    }

    #google {
      background-color: $btn-google;
      background: $btn-google-gradient;
    }

    #apple {
      background-color: $btn-apple;
      background: $btn-apple-gradient;
    }

    #account {
      background-color: $btn-account;
      background: $btn-account-gradient;
    }
  }

  .signin:not(:first-child) {
    margin-top: 25px;
  }

  // Second section
  .cards>div:nth-child(2) {
    >div {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      width: 100%;
      height: 50%;
    }
  }

  .avatar {
    width: 225px;
    height: 225px;
  }

  .roll {
    display: inline-block;
    border-radius: 50%;
    color: #000;
    background: $bg-light;
    padding: 3px 7px 7px 7px;
    font-size: 30px;
    position: relative;
    left: 80px;
    top: -50px;
    
    i {
      vertical-align: middle;
    }
  }
}
