.home, .auth {
    // Sections
  .cards {
    display: flex;
    justify-content: center;
    align-items: center;

    >div {
      background-color: $bg-dark;
      @include border-radius(2vh);
      height: 65vh;
      min-width: 40vh;
      margin-top: 10vh;
      float: left;
      @include box-shadow($box-shadow);
      @include background-size(cover);
      background-repeat: no-repeat;
      padding: 2vh;
      position: relative;
    }

    >div:nth-child(1) {
      transform: rotate(353deg);
    }

    >div:nth-child(2) {
      z-index: 1;
      top: -2.5vh;
    }

    >div:nth-child(3) {
      transform: rotate(7deg);
    }

    >div:nth-child(1), >div:nth-child(3) {
      backface-visibility: hidden; // antialiasing
    }

    >div:nth-child(2), >div:nth-child(3) {
      margin-left: -6vh;
    }
  }

  // First section
  .signin {
    padding: 1vh;

    span {
      margin-left: 1vh;
    }

    #google {
      background-color: $btn-google;
      @include linear-gradient($btn-google-gradient);
    }

    #apple {
      background-color: $btn-apple;
      @include linear-gradient($btn-apple-gradient);
    }

    #account {
      background-color: $btn-account;
      @include linear-gradient($btn-account-gradient);
    }
  }

  .signin:not(:first-child) {
    margin-top: 2.6vh;
  }

  // Second section
  .cards>div:nth-child(2) {
    >div {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      width: 100%;
      height: 50%;
    }
  }

  .avatar {
    width: 20vh;
    height: 20vh;
  }

  .roll {
    display: inline-block;
    @include border-radius(50%);
    color: #000;
    background: $bg-light;
    padding: 0.3vh 0.7vh 0.7vh 0.7vh;
    font-size: 1.875em;
    position: relative;
    left: 8.4vh;
    top: -5.3vh;
    
    i {
      vertical-align: middle;
    }
  }
}
