// Override default variables before the import
$body-bg: rgb(246,191,117);
$bg-dark: #1c1c1c;

// Import Bootstrap and its default variables
@import '~bootstrap/scss/bootstrap.scss';

body {
  font-family: 'Kanit', sans-serif;
  background: 
    linear-gradient(136deg, rgba(246,191,117,1) 19%, rgba(215,113,133,1) 57%, rgba(135,102,172,1) 79%, rgba(65,80,177,1) 91%)
    !important;
  background-size: 100vw 100vh !important;
  background: rgb(246,191,117);
}

footer {
  text-transform: uppercase;
  text-align: center;
  color: #fff;
  font-weight: 300;
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;

  a {
    text-decoration: none;
    color: #fff;
  }

  a:hover {
    color: #fff;
  }
}

main {
  font-weight: 300;
  color: #fff;
}

.logo {
  text-decoration: none;
  color: #fff;

  img {
    height: 50px;
  }

  span {
    font-weight: 600;
  }
}

.logo:hover {
  color: #fff;
}

.card-home {
  display: flex;
  justify-content: center;
  align-items: center;

  div {
    background-color: #1c1c1c;
    border-radius: 20px;
    height: 630px;
    width: 378px;
    margin: 110px 30px 0 110px;
    float: left;
    box-shadow: 0px 0px 8px 5px rgba(0,0,0,0.5);
    background-size: 720px;
    background-position: -120px -320px;
    padding: 25px;
  }

  div:nth-child(1) {
    transform: rotate(353deg);
  }

  div:nth-child(2) {
    margin-top: 65px;
    position: relative;
    z-index: 1;
  }

  div:nth-child(3) {
    transform: rotate(7deg);
  }

  div:nth-child(1), div:nth-child(3) {
    backface-visibility: hidden;
  }

  div:nth-child(2), div:nth-child(3) {
    margin-left: -70px;
  }
}
