html {
  font-size: 1.7vh;
}

body {
  font-size: 1rem;
  font-weight: 200;
  color: $font-light;
}

// Links
a {
  color: $font-light;
  text-decoration: none;
}

a:hover {
  color: $font-light;
}

// Text format
.align-r {
  text-align: right;
}

.text-secondary {
  color: $font-secondary;
}

// Buttons
button, input[type=submit], .btn {
  text-transform: uppercase;
}

.btn {
  font-weight: 300;

  i {
    font-size: 1.25em;
    position: relative;
    top: 0.2vh;
  }
}

.btn-c2a {
  font-weight: 500;
}

// Titles typography
h1, h2 {
  font-weight: 600;
  text-transform: uppercase;
}

h2 {
  font-size: 2.5em;
}

// Find game
.find p {
  font-size: 1.25;
}

// Forms
form {
  input {
    color: $font-light;
  }

  input[type=text]::placeholder, input[type=password]::placeholder, input[type=email]::placeholder {
    color: #c3c3c3;
    font-weight: 200;
  }
}

// Footer
footer, .language {
  font-size: 1.5em;
  font-weight: 300;
  text-transform: uppercase;

  button {
    font-weight: 200;
    text-transform: uppercase;
  }
}
