body {
  font-weight: 200;
  color: $font-light;
}

a {
  color: $font-light;
  text-decoration: none;

  :hover {
    color: $font-light;
  }
}

header {
  h1 {
    font-weight: 800;
    text-transform: uppercase;
  }
}

footer {
  font-size: 24px;
  font-weight: 300;
  text-transform: uppercase;

  button {
    font-weight: 200;
    text-transform: uppercase;
  }
}
